<ul class="list-unstyled">
  <% love_microposts.each do |love_micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(love_micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to love_micropost.user.name, user_path(love_micropost.user) %> <span class="text-muted">posted at <%= love_micropost.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= love_micropost.content %></p>
        </div>
      </div>
      <% if current_user == @user %>
        <%= render 'favorites/love_button', micropost: love_micropost %>
      <% end %>
      <% if current_user == love_micropost.user %>
        <%= link_to "Delete", love_micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </li>
  <% end %>
  <%= paginate love_microposts %>
</ul>